<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="{{asset 'css/normalize.css'}}"/>
    <link type="text/css" rel="stylesheet" href="{{asset 'css/skeleton.css'}}"/>
    <link type="text/css" rel="stylesheet" href="{{asset 'css/pilcrow.css'}}"/>
    <link type="text/css" rel="stylesheet" href="{{asset 'css/hljs-github.min.css'}}"/>
    <link type="text/css" rel="stylesheet" href="{{asset 'css/style.css'}}"/>
</head>
<body>

<div class="container">
    <div class="header"></div>
    <div class="row">
        <div class="columns three">

            <h5>Menu</h5>
            <ul>
                {{#menu}}
                    {{{menuItems}}}
                {{/menu}}
            </ul>

            <hr>
            <h5>File Glosary</h5>
            {{~> toc }}

        </div>
        <div class="columns nine main">
            {{~> content}}
        </div>
    </div>
</div>

</body>
</html>
