.header {
    margin-top: .5em;
}

.header a {
    text-decoration: none;
}

.sidebar-header-2 { margin-left: 2rem; }
.sidebar-header-3 { margin-left: 4rem; }
.sidebar-header-4 { margin-left: 6rem; }
.sidebar-header-5 { margin-left: 8rem; }

